.body {
    &__wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overflow: hidden;
    }
    &__header {
        flex: 0 0 auto;
    }
    &__container {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding-bottom: 48px;
    }
}

.body.is-overlay {
    overflow: hidden;
}