@import '~/assets/scss/common/animations.scss';

:root {
    @include defineColorHSL('--color-primary', hue($color-white), saturation($color-white), lightness($color-white));
    @include defineColorHSL('--color-secondary', hue($color-gray-100), saturation($color-gray-100), lightness($color-gray-100));
    @include defineColorHSL('--color-caption', hue($color-deep-blue-900), saturation($color-deep-blue-900), lightness($color-deep-blue-900));
    @include defineColorHSL('--color-text', hue($color-gray-700), saturation($color-gray-700), lightness($color-gray-700));
    @include defineColorHSL('--color-sub', hue($color-white-800), saturation($color-white-800), lightness($color-white-800));
    // --color-primary: #FFFFFF;
    // --color-secondary: #F3F4F7;
    // --color-caption: #012345;
    // --color-text: #677B8F;
    // --color-sub: #FCFCFC;
}

:root[theme="dark"] {
    @include defineColorHSL('--color-primary', hue($color-deep-blue-900), saturation($color-deep-blue-900), lightness($color-deep-blue-900));
    @include defineColorHSL('--color-secondary', hue($color-deep-blue), saturation($color-deep-blue), lightness($color-deep-blue));
    @include defineColorHSL('--color-caption', hue($color-white-800), saturation($color-white-800), lightness($color-white-800));
    @include defineColorHSL('--color-text', hue($color-gray-500), saturation($color-gray-500), lightness($color-gray-500));
    @include defineColorHSL('--color-sub', hue($color-deep-blue-900), saturation($color-deep-blue-900), lightness($color-deep-blue-900));
    // --color-primary: #012345;
    // --color-secondary: #011C37;
    // --color-caption: #FCFCFC;
    // --color-text: #99A7B5;
    // --color-sub: #012345;
}


.-text-center {
    text-align: center;
}

.-rose {
    color: $color-rose-400;
}

.-hidden {
    display: none !important;
}

.-skeleton:not(.-loaded) {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    &::before {
        content: '';
        display: block;
        position: absolute;
        @include trbl(0);
        color: var(--color-secondary);
        background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, .005) 15%, rgba(255, 255, 255, .7) 50%, rgba(255, 255, 255, .005) 85%, rgba(255, 255, 255, 0) 100%);
        // background-image: linear-gradient(to right, var(--color-primary) 0%, var(--color-primary) 15%, rgba($color-white, .1) 50%, var(--color-primary) 85%);
        background-size: 100%;
        animation: shine 1s $transition-main infinite;
    }
}

html[theme="dark"] {
    .-skeleton:not(.-loaded) {
        &::before {
            background-image: linear-gradient(to left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 15%, rgba(255, 255, 255, .015) 50%, rgba(255, 255, 255, 0) 85%, rgba(255, 255, 255, 0) 100%);
        }
    }
}


@each $name, $size in $media-sizes {
    @media (max-width: $size) {
        .-hidden_#{$name} {
            display: none !important;
        }
    }
}
