:root {
    --color-primary: #FFFFFF;
    --color-secondary: #F3F4F7;
    --color-caption: #012345;
    --color-text: #677B8F;
}

.-text-center {
    text-align: center;
}

.-hidden {
    display: none !important;
}

@each $name, $size in $media-sizes {
    @media (max-width: $size) {
        .-hidden_#{$name} {
            display: none !important;
        }
    }
}